<%= form_for(coin) do |f| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :acronym %>
    <%= f.text_field :acronym %>
  </div>

  <div class="field">
    <%= f.label :url_image %>
    <%= f.text_field :url_image %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
